<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>
	<h1 align = "center">My Application</h1>
<body>
	<form action = "details" method = "post">
	<h2 align = "left"> login Page</h1>
	
	UserName: <input type = "text" name = "username"/><br/>
	
	PassWord: <input type = "password" name = "password"/><br/>
	
			  <input type = "submit" value = "Login"/><br/>
	</form>
</body>

</html>